body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#message {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#sendBtn {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sendBtn:hover {
    background-color: #45a049;
}

#messages {
    margin-top: 20px;
}

#messages p {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#messages p:nth-child(odd) {
    background-color: #f2f2f2;
}
